In [2]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from bs4 import BeautifulSoup
import datetime

In [3]:
ticker = 'AAPL'

def get_cashflow_statement(ticker):

    url = f'https://stockanalysis.com/stocks/{ticker}/financials/cash-flow-statement/'
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html')

    cash_flow_table = soup.find('table', class_ = "w-full border-separate border-spacing-0 whitespace-nowrap")

    #Extract the column headers
    headers = []
    for header in cash_flow_table.find_all('th'):
        headers.append(header.text.strip())

    #Extract the table rows
    rows = []
    for row in cash_flow_table.find_all('tr')[1:]:  # Skipping the header row
        cells = row.find_all('td')
        row_data = [cell.text.strip() for cell in cells]
        rows.append(row_data)

    # Convert the data into a DataFrame and drop the last column that is paywalled
    cash_flow_statement = pd.DataFrame(rows, columns=headers)
    cash_flow_statement.drop(cash_flow_statement.columns[-1], axis=1, inplace= True)

    #Reverse the columns to make them ascending
    columns_reversed = [cash_flow_statement.columns[0]] + cash_flow_statement.columns[1:][::-1].tolist()
    cash_flow_statement = cash_flow_statement[columns_reversed]
    return cash_flow_statement

get_cashflow_statement(ticker)

,Year,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Net Income,"39,510","53,394","45,687","48,351","59,531","55,256","57,411","94,680","99,803","96,995"
1,Depreciation & Amortization,"7,946","11,257","10,505","10,157","10,903","12,547","11,056","11,284","11,104","11,519"
2,Share-Based Compensation,"2,863","3,586","4,210","4,840","5,340","6,068","6,829","7,906","9,038","10,833"
3,Other Operating Activities,"9,394","13,029","5,829",877,"1,660","-4,480","5,378","-9,832","2,206","-8,804"
4,Operating Cash Flow,"59,713","81,266","66,231","64,225","77,434","69,391","80,674","104,038","122,151","110,543"
5,Operating Cash Flow Growth,11.27%,36.09%,-18.50%,-3.03%,20.57%,-10.39%,16.26%,28.96%,17.41%,-9.50%
6,Capital Expenditures,"-9,813","-11,488","-12,734","-12,451","-13,313","-10,495","-7,309","-11,085","-10,708","-10,959"
7,Acquisitions,"-3,765",-343,-297,-329,-721,-624,"-1,524",0,0,0
8,Change in Investments,"-9,027","-44,417","-32,022","-33,542","30,845","58,093","5,453","-3,075","-9,560","16,001"
9,Other Investing Activities,26,-26,-924,-124,-745,"-1,078",-909,-385,"-2,086","-1,337"
10,Investing Cash Flow,"-22,579","-56,274","-45,977","-46,446","16,066","45,896","-4,289","-14,545","-22,354","3,705"
11,Dividends Paid,"-11,126","-11,561","-12,150","-12,769","-13,712","-14,119","-14,081","-14,467","-14,841","-15,025"
12,Share Issuance / Repurchase,"-44,270","-34,710","-29,227","-32,345","-72,069","-66,116","-72,358","-85,971","-89,402","-77,550"
13,Debt Issued / Paid,"18,266","29,305","22,057","29,014",432,"-7,819","2,499","12,665",-123,"-9,901"
14,Other Financing Activities,-419,-750,"-1,570","-1,874","-2,527","-2,922","-2,880","-5,580","-6,383","-6,012"
15,Financing Cash Flow,"-37,549","-17,716","-20,890","-17,974","-87,876","-90,976","-86,820","-93,353","-110,749","-108,488"
16,Net Cash Flow,-415,"7,276",-636,-195,"5,624","24,311","-10,435","-3,860","-10,952","5,760"
17,Free Cash Flow,"49,900","69,778","53,497","51,774","64,121","58,896","73,365","92,953","111,443","99,584"
18,Free Cash Flow Growth,11.91%,39.84%,-23.33%,-3.22%,23.85%,-8.15%,24.57%,26.70%,19.89%,-10.64%
19,Free Cash Flow Margin,27.30%,29.86%,24.81%,22.59%,24.14%,22.64%,26.73%,25.41%,28.26%,25.98%
20,Free Cash Flow Per Share,2.05,3.03,2.44,2.48,3.23,3.19,4.23,5.57,6.87,6.33

In [4]:
def get_income_statement(ticker):
    url = f'https://stockanalysis.com/stocks/{ticker}/financials/'
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html')

    income_statement = soup.find('table', class_ = 'w-full border-separate border-spacing-0 whitespace-nowrap')
    # Extract the column headers
    headers = []
    for header in income_statement.find_all('th'):
        headers.append(header.text.strip())

    # Extract the table rows
    rows = []
    for row in income_statement.find_all('tr')[1:]:  # Skipping the header row
        cells = row.find_all('td')
        row_data = [cell.text.strip() for cell in cells]
        rows.append(row_data)

    income_statement = pd.DataFrame(rows, columns=headers)
    income_statement.drop(income_statement.columns[-1], axis=1, inplace=True)
    columns_reversed = [income_statement.columns[0]] + income_statement.columns[1:][::-1].tolist()
    income_statement = income_statement[columns_reversed]
    return income_statement

get_income_statement(ticker)

,Year,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Revenue,"182,795","233,715","215,639","229,234","265,595","260,174","274,515","365,817","394,328","383,285"
1,Revenue Growth (YoY),6.95%,27.86%,-7.73%,6.30%,15.86%,-2.04%,5.51%,33.26%,7.79%,-2.80%
2,Cost of Revenue,"112,258","140,089","131,376","141,048","163,756","161,782","169,559","212,981","223,546","214,137"
3,Gross Profit,"70,537","93,626","84,263","88,186","101,839","98,392","104,956","152,836","170,782","169,148"
4,"Selling, General & Admin","11,993","14,329","14,194","15,261","16,705","18,245","19,916","21,973","25,094","24,932"
5,Research & Development,"6,041","8,067","10,045","11,581","14,236","16,217","18,752","21,914","26,251","29,915"
6,Operating Expenses,"18,034","22,396","24,239","26,842","30,941","34,462","38,668","43,887","51,345","54,847"
7,Operating Income,"52,503","71,230","60,024","61,344","70,898","63,930","66,288","108,949","119,437","114,301"
8,Interest Expense / Income,384,733,"1,456","2,323","3,240","3,576","2,873","2,645","2,931","3,933"
9,Other Expense / Income,"-1,364","-2,018","-2,804","-5,068","-5,245","-5,383","-3,676","-2,903","-2,597","-3,368"
10,Pretax Income,"53,483","72,515","61,372","64,089","72,903","65,737","67,091","109,207","119,103","113,736"
11,Income Tax,"13,973","19,121","15,685","15,738","13,372","10,481","9,680","14,527","19,300","16,741"
12,Net Income,"39,510","53,394","45,687","48,351","59,531","55,256","57,411","94,680","99,803","96,995"
13,Net Income Growth,6.68%,35.14%,-14.43%,5.83%,23.12%,-7.18%,3.90%,64.92%,5.41%,-2.81%
14,Shares Outstanding (Basic),"24,342","23,014","21,883","20,869","19,822","18,471","17,352","16,701","16,216","15,744"
15,Shares Outstanding (Diluted),"24,491","23,172","22,001","21,007","20,000","18,596","17,528","16,865","16,326","15,813"
16,Shares Change,-6.12%,-5.38%,-5.05%,-4.52%,-4.79%,-7.02%,-5.74%,-3.78%,-3.20%,-3.14%
17,EPS (Basic),1.62,2.32,2.09,2.32,3.00,2.99,3.31,5.67,6.15,6.16
18,EPS (Diluted),1.61,2.31,2.08,2.30,2.98,2.97,3.28,5.61,6.11,6.13
19,EPS Growth,13.59%,42.90%,-9.85%,10.83%,29.40%,-0.34%,10.44%,71.04%,8.91%,0.33%
20,Free Cash Flow,"49,900","69,778","53,497","51,774","64,121","58,896","73,365","92,953","111,443","99,584"
21,Free Cash Flow Per Share,2.05,3.03,2.44,2.48,3.23,3.19,4.23,5.57,6.87,6.33
22,Dividend Per Share,0.453,0.495,0.545,0.600,0.680,0.750,0.795,0.850,0.900,0.940
23,Dividend Growth,11.30%,9.27%,10.10%,10.09%,13.33%,10.29%,6.00%,6.92%,5.88%,4.44%
24,Gross Margin,38.59%,40.06%,39.08%,38.47%,38.34%,37.82%,38.23%,41.78%,43.31%,44.13%
25,Operating Margin,28.72%,30.48%,27.84%,26.76%,26.69%,24.57%,24.15%,29.78%,30.29%,29.82%
26,Profit Margin,21.61%,22.85%,21.19%,21.09%,22.41%,21.24%,20.91%,25.88%,25.31%,25.31%
27,Free Cash Flow Margin,27.30%,29.86%,24.81%,22.59%,24.14%,22.64%,26.73%,25.41%,28.26%,25.98%
28,Effective Tax Rate,26.13%,26.37%,25.56%,24.56%,18.34%,15.94%,14.43%,13.30%,16.20%,14.72%
29,EBITDA,"61,813","84,505","73,333","76,569","87,046","81,860","81,020","123,136","133,138","129,188"
30,EBITDA Margin,33.82%,36.16%,34.01%,33.40%,32.77%,31.46%,29.51%,33.66%,33.76%,33.71%
31,Depreciation & Amortization,"7,946","11,257","10,505","10,157","10,903","12,547","11,056","11,284","11,104","11,519"
32,EBIT,"53,867","73,248","62,828","66,412","76,143","69,313","69,964","111,852","122,034","117,669"
33,EBIT Margin,29.47%,31.34%,29.14%,28.97%,28.67%,26.64%,25.49%,30.58%,30.95%,30.70%

In [5]:
def get_fcf(ticker):
    cash_flow_table = get_cashflow_statement(ticker)
    # Assuming 'Free Cash Flow' is in the first column, find the row index
    
    fcf_row = cash_flow_table[cash_flow_table.iloc[:, 0] == 'Free Cash Flow']
    return fcf_row

def mean_fcf(ticker):
    fcf_row = get_fcf(ticker)
    fcf_numeric = fcf_row.iloc[0, 1:]

    fcf_cleaned = []
    for value in fcf_numeric:
            # Remove any formatting and convert to float
            try:
                # Remove commas, dollar signs, and handle negative numbers in parentheses
                value_clean = value.replace(',', '').replace('$', '').replace('(', '-').replace(')', '')
                fcf_cleaned.append(float(value_clean))
            except ValueError:
                # If the value cannot be converted to float, ignore it
                continue

    return np.mean(fcf_cleaned) if fcf_cleaned else "No numeric data found"

get_fcf(ticker)

,Year,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
17,Free Cash Flow,"49,900","69,778","53,497","51,774","64,121","58,896","73,365","92,953","111,443","99,584"

In [6]:
def get_net_income(ticker):
    cash_flow_table = get_cashflow_statement(ticker)
    net_income = cash_flow_table[cash_flow_table.iloc[:, 0] == 'Net Income']
    return net_income

def avg_growth_rate_income(ticker):
    net_income = get_net_income(ticker)
    
    # Remove the 'Net Income' label and convert the data to numeric
    net_income = net_income.iloc[:, 1:].apply(lambda x: pd.to_numeric(x.str.replace(',', ''), errors='coerce'))
    
    # Calculate yearly growth rates
    yearly_growth_rates = net_income.pct_change(axis=1) 

    # Calculate average growth rate
    average_growth_rate = yearly_growth_rates.mean(axis=1).iloc[0]
    return average_growth_rate 


def get_FCFtoNI_ratio(ticker):
    fcf = get_fcf(ticker)
    net_income = get_net_income(ticker)

    newdf = pd.concat([fcf, net_income], axis= 0)
    newdf.reset_index(drop=True, inplace= True)
  
    # Ensure the DataFrame columns are appropriate for calculations
    newdf.iloc[:, 1:] = newdf.iloc[:, 1:].map(lambda x: x.replace(',', '').replace(',','') if isinstance(x, str) else x)
    newdf.iloc[:, 1:] = newdf.iloc[:, 1:].map(lambda x: int(x) if isinstance(x, str) and x.isdigit() else x)


    fcf_net_income_ratio = newdf.iloc[0, 1:] / newdf.iloc[1, 1:]

    # # Add the ratio as a new row in the DataFrame
    fcf_net_income_ratio = pd.DataFrame(fcf_net_income_ratio).T
    fcf_net_income_ratio.insert(0, 'Year', 'FCF/Net Income Ratio')

    finaldf = pd.concat([newdf, fcf_net_income_ratio], axis= 0)
    finaldf.reset_index(drop= True, inplace=True)
    return finaldf

get_FCFtoNI_ratio(ticker)

,Year,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Free Cash Flow,49900,69778,53497,51774,64121,58896,73365,92953,111443,99584
1,Net Income,39510,53394,45687,48351,59531,55256,57411,94680,99803,96995
2,FCF/Net Income Ratio,1.262971,1.306851,1.170946,1.070795,1.077103,1.065875,1.277891,0.98176,1.11663,1.026692

In [7]:
def get_financial_forecast(ticker):
    url = f'https://stockanalysis.com/stocks/{ticker}/forecast/'
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html')

    forecast_table = soup.find('table', class_ = 'w-full whitespace-nowrap border border-gray-200 text-right text-sm dark:border-dark-700 sm:text-base')
    
    headers = np.array([])
    for header in forecast_table.find_all('th'):
        headers = np.append(headers, header.text.strip())

    body = forecast_table.find('tbody')
    rows = body.find_all('tr')

    table_data = []

    for row in rows:
        row_data = [None] * len(headers)  # Initialize row_data with placeholders
        cells = row.find_all('td')
        if cells:
            row_data[0] = cells[0].text.strip()  # First cell is always added
        
        for i, cell in enumerate(cells[1:], start=1):  # Start from the second cell
            if cell.has_attr('class'):
                cell_classes = " ".join(cell['class'])  # Combine all class names into a single string
                # Simplify the target class check for a key identifier
                if 'font-semibold' in cell_classes:  # Adjust this condition
                    row_data[i] = cell.text.strip()


        table_data.append(row_data)

    forecast_table = pd.DataFrame(table_data, columns=headers)
    forecast_table.iloc[0, 1:] = forecast_table.iloc[0, 1:].map(lambda x: x.replace('.','').replace('B','') if isinstance(x, str) else x)
    forecast_table.iloc[0, 1:] = forecast_table.iloc[0, 1:].map(lambda x: int(x) if isinstance(x, str) else x)
    forecast_table.dropna(axis=1, inplace= True)

    return forecast_table

get_financial_forecast(ticker)

             Year     2024     2025     2026     2027     2028
0         Revenue  40465.0  42732.0  45568.0  51300.0  55244.0
1  Revenue Growth    5.57%    5.60%    6.64%   12.58%    7.69%
2             EPS     6.73     7.32     7.99     8.96    10.04
3      EPS Growth    9.71%    8.91%    9.04%   12.14%   12.13%
4    No. Analysts       39       34       15        4        4

In [16]:
def get_revenue_projections(ticker):
    income_statement = get_income_statement(ticker)
    revenue_data = income_statement.iloc[0:2]
    revenue_data = revenue_data.reset_index(drop=True)


    financial_forecast = get_financial_forecast(ticker)
    revenue_forecasts = financial_forecast.iloc[:2,:]
    revenue_forecasts = revenue_forecasts.reset_index(drop=True)
    
    result_df = pd.concat([revenue_data, revenue_forecasts.iloc[:,1:]], axis=1)
    
    return result_df

get_revenue_projections(ticker)

,Year,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
0,Revenue,"182,795","233,715","215,639","229,234","265,595","260,174","274,515","365,817","394,328","383,285",40465.0,42732.0,45568.0,51300.0,55244.0
1,Revenue Growth (YoY),6.95%,27.86%,-7.73%,6.30%,15.86%,-2.04%,5.51%,33.26%,7.79%,-2.80%,5.57%,5.60%,6.64%,12.58%,7.69%