In [2]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from bs4 import BeautifulSoup

In [3]:
ticker = 'AAPL'

def get_cashflow_statement(ticker):

    url = f'https://stockanalysis.com/stocks/{ticker}/financials/cash-flow-statement/'
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html')

    cash_flow_table = soup.find('table', class_ = "w-full border-separate border-spacing-0 whitespace-nowrap")

    # Extract the column headers
    headers = []
    for header in cash_flow_table.find_all('th'):
        headers.append(header.text.strip())

    # Extract the table rows
    rows = []
    for row in cash_flow_table.find_all('tr')[1:]:  # Skipping the header row
        cells = row.find_all('td')
        row_data = [cell.text.strip() for cell in cells]
        rows.append(row_data)

    # Convert the data into a DataFrame and drop the last column that is paywalled
    cash_flow_statement = pd.DataFrame(rows, columns=headers)
    cash_flow_statement = cash_flow_statement.drop('2013 - 1992', axis=1)
    return cash_flow_statement

get_cashflow_statement(ticker)

,Year,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014
0,Net Income,"96,995","99,803","94,680","57,411","55,256","59,531","48,351","45,687","53,394","39,510"
1,Depreciation & Amortization,"11,519","11,104","11,284","11,056","12,547","10,903","10,157","10,505","11,257","7,946"
2,Share-Based Compensation,"10,833","9,038","7,906","6,829","6,068","5,340","4,840","4,210","3,586","2,863"
3,Other Operating Activities,"-8,804","2,206","-9,832","5,378","-4,480","1,660",877,"5,829","13,029","9,394"
4,Operating Cash Flow,"110,543","122,151","104,038","80,674","69,391","77,434","64,225","66,231","81,266","59,713"
5,Operating Cash Flow Growth,-9.50%,17.41%,28.96%,16.26%,-10.39%,20.57%,-3.03%,-18.50%,36.09%,11.27%
6,Capital Expenditures,"-10,959","-10,708","-11,085","-7,309","-10,495","-13,313","-12,451","-12,734","-11,488","-9,813"
7,Acquisitions,0,0,0,"-1,524",-624,-721,-329,-297,-343,"-3,765"
8,Change in Investments,"16,001","-9,560","-3,075","5,453","58,093","30,845","-33,542","-32,022","-44,417","-9,027"
9,Other Investing Activities,"-1,337","-2,086",-385,-909,"-1,078",-745,-124,-924,-26,26
10,Investing Cash Flow,"3,705","-22,354","-14,545","-4,289","45,896","16,066","-46,446","-45,977","-56,274","-22,579"
11,Dividends Paid,"-15,025","-14,841","-14,467","-14,081","-14,119","-13,712","-12,769","-12,150","-11,561","-11,126"
12,Share Issuance / Repurchase,"-77,550","-89,402","-85,971","-72,358","-66,116","-72,069","-32,345","-29,227","-34,710","-44,270"
13,Debt Issued / Paid,"-9,901",-123,"12,665","2,499","-7,819",432,"29,014","22,057","29,305","18,266"
14,Other Financing Activities,"-6,012","-6,383","-5,580","-2,880","-2,922","-2,527","-1,874","-1,570",-750,-419
15,Financing Cash Flow,"-108,488","-110,749","-93,353","-86,820","-90,976","-87,876","-17,974","-20,890","-17,716","-37,549"
16,Net Cash Flow,"5,760","-10,952","-3,860","-10,435","24,311","5,624",-195,-636,"7,276",-415
17,Free Cash Flow,"99,584","111,443","92,953","73,365","58,896","64,121","51,774","53,497","69,778","49,900"
18,Free Cash Flow Growth,-10.64%,19.89%,26.70%,24.57%,-8.15%,23.85%,-3.22%,-23.33%,39.84%,11.91%
19,Free Cash Flow Margin,25.98%,28.26%,25.41%,26.73%,22.64%,24.14%,22.59%,24.81%,29.86%,27.30%
20,Free Cash Flow Per Share,6.33,6.87,5.57,4.23,3.19,3.23,2.48,2.44,3.03,2.05

In [4]:
def get_income_statement(ticker):
    url = f'https://stockanalysis.com/stocks/{ticker}/financials/'
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html')

    income_statement = soup.find('table', class_ = 'w-full border-separate border-spacing-0 whitespace-nowrap')
    # Extract the column headers
    headers = []
    for header in income_statement.find_all('th'):
        headers.append(header.text.strip())

    # Extract the table rows
    rows = []
    for row in income_statement.find_all('tr')[1:]:  # Skipping the header row
        cells = row.find_all('td')
        row_data = [cell.text.strip() for cell in cells]
        rows.append(row_data)

    income_statement = pd.DataFrame(rows, columns=headers)
    income_statement = income_statement.drop('2013 - 1992', axis=1)
    return income_statement

get_income_statement(ticker)

,Year,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014
0,Revenue,"383,285","394,328","365,817","274,515","260,174","265,595","229,234","215,639","233,715","182,795"
1,Revenue Growth (YoY),-2.80%,7.79%,33.26%,5.51%,-2.04%,15.86%,6.30%,-7.73%,27.86%,6.95%
2,Cost of Revenue,"214,137","223,546","212,981","169,559","161,782","163,756","141,048","131,376","140,089","112,258"
3,Gross Profit,"169,148","170,782","152,836","104,956","98,392","101,839","88,186","84,263","93,626","70,537"
4,"Selling, General & Admin","24,932","25,094","21,973","19,916","18,245","16,705","15,261","14,194","14,329","11,993"
5,Research & Development,"29,915","26,251","21,914","18,752","16,217","14,236","11,581","10,045","8,067","6,041"
6,Operating Expenses,"54,847","51,345","43,887","38,668","34,462","30,941","26,842","24,239","22,396","18,034"
7,Operating Income,"114,301","119,437","108,949","66,288","63,930","70,898","61,344","60,024","71,230","52,503"
8,Interest Expense / Income,"3,933","2,931","2,645","2,873","3,576","3,240","2,323","1,456",733,384
9,Other Expense / Income,"-3,368","-2,597","-2,903","-3,676","-5,383","-5,245","-5,068","-2,804","-2,018","-1,364"
10,Pretax Income,"113,736","119,103","109,207","67,091","65,737","72,903","64,089","61,372","72,515","53,483"
11,Income Tax,"16,741","19,300","14,527","9,680","10,481","13,372","15,738","15,685","19,121","13,973"
12,Net Income,"96,995","99,803","94,680","57,411","55,256","59,531","48,351","45,687","53,394","39,510"
13,Net Income Growth,-2.81%,5.41%,64.92%,3.90%,-7.18%,23.12%,5.83%,-14.43%,35.14%,6.68%
14,Shares Outstanding (Basic),"15,744","16,216","16,701","17,352","18,471","19,822","20,869","21,883","23,014","24,342"
15,Shares Outstanding (Diluted),"15,813","16,326","16,865","17,528","18,596","20,000","21,007","22,001","23,172","24,491"
16,Shares Change,-3.14%,-3.20%,-3.78%,-5.74%,-7.02%,-4.79%,-4.52%,-5.05%,-5.38%,-6.12%
17,EPS (Basic),6.16,6.15,5.67,3.31,2.99,3.00,2.32,2.09,2.32,1.62
18,EPS (Diluted),6.13,6.11,5.61,3.28,2.97,2.98,2.30,2.08,2.31,1.61
19,EPS Growth,0.33%,8.91%,71.04%,10.44%,-0.34%,29.40%,10.83%,-9.85%,42.90%,13.59%
20,Free Cash Flow,"99,584","111,443","92,953","73,365","58,896","64,121","51,774","53,497","69,778","49,900"
21,Free Cash Flow Per Share,6.33,6.87,5.57,4.23,3.19,3.23,2.48,2.44,3.03,2.05
22,Dividend Per Share,0.940,0.900,0.850,0.795,0.750,0.680,0.600,0.545,0.495,0.453
23,Dividend Growth,4.44%,5.88%,6.92%,6.00%,10.29%,13.33%,10.09%,10.10%,9.27%,11.30%
24,Gross Margin,44.13%,43.31%,41.78%,38.23%,37.82%,38.34%,38.47%,39.08%,40.06%,38.59%
25,Operating Margin,29.82%,30.29%,29.78%,24.15%,24.57%,26.69%,26.76%,27.84%,30.48%,28.72%
26,Profit Margin,25.31%,25.31%,25.88%,20.91%,21.24%,22.41%,21.09%,21.19%,22.85%,21.61%
27,Free Cash Flow Margin,25.98%,28.26%,25.41%,26.73%,22.64%,24.14%,22.59%,24.81%,29.86%,27.30%
28,Effective Tax Rate,14.72%,16.20%,13.30%,14.43%,15.94%,18.34%,24.56%,25.56%,26.37%,26.13%
29,EBITDA,"129,188","133,138","123,136","81,020","81,860","87,046","76,569","73,333","84,505","61,813"
30,EBITDA Margin,33.71%,33.76%,33.66%,29.51%,31.46%,32.77%,33.40%,34.01%,36.16%,33.82%
31,Depreciation & Amortization,"11,519","11,104","11,284","11,056","12,547","10,903","10,157","10,505","11,257","7,946"
32,EBIT,"117,669","122,034","111,852","69,964","69,313","76,143","66,412","62,828","73,248","53,867"
33,EBIT Margin,30.70%,30.95%,30.58%,25.49%,26.64%,28.67%,28.97%,29.14%,31.34%,29.47%

In [5]:
def get_fcf(ticker):
    cash_flow_table = get_cashflow_statement(ticker)
    # Assuming 'Free Cash Flow' is in the first column, find the row index
    
    fcf_row = cash_flow_table[cash_flow_table.iloc[:, 0] == 'Free Cash Flow']
    return fcf_row

def mean_fcf(ticker):
    fcf_row = get_fcf(ticker)
    fcf_numeric = fcf_row.iloc[0, 1:]

    fcf_cleaned = []
    for value in fcf_numeric:
            # Remove any formatting and convert to float
            try:
                # Remove commas, dollar signs, and handle negative numbers in parentheses
                value_clean = value.replace(',', '').replace('$', '').replace('(', '-').replace(')', '')
                fcf_cleaned.append(float(value_clean))
            except ValueError:
                # If the value cannot be converted to float, ignore it
                continue

    return np.mean(fcf_cleaned) if fcf_cleaned else "No numeric data found"

In [6]:
def get_net_income(ticker):
    cash_flow_table = get_cashflow_statement(ticker)
    net_income = cash_flow_table[cash_flow_table.iloc[:, 0] == 'Net Income']
    return net_income

def avg_growth_rate_income(ticker):
    net_income = get_net_income(ticker)
    
    # Remove the 'Net Income' label and convert the data to numeric
    net_income = net_income.iloc[:, 1:].apply(lambda x: pd.to_numeric(x.str.replace(',', ''), errors='coerce'))
    
    #Ensure the data is in the correct order (if needed)
    net_income = net_income.iloc[:, ::-1]
    
    # Calculate yearly growth rates
    yearly_growth_rates = net_income.pct_change(axis=1) 

    # Calculate average growth rate
    average_growth_rate = yearly_growth_rates.mean(axis=1).iloc[0]
    return average_growth_rate 


def get_FCFtoNI_ratio(ticker):
    fcf = get_fcf(ticker)
    net_income = get_net_income(ticker)

    newdf = pd.concat([fcf, net_income], axis= 0)
    newdf.reset_index(drop=True, inplace= True)
  
    # Ensure the DataFrame columns are appropriate for calculations
    newdf.iloc[:, 1:] = newdf.iloc[:, 1:].map(lambda x: x.replace(',', '') if isinstance(x, str) else x)
    newdf.iloc[:, 1:] = newdf.iloc[:, 1:].map(lambda x: int(x) if isinstance(x, str) and x.isdigit() else x)


    fcf_net_income_ratio = newdf.iloc[0, 1:] / newdf.iloc[1, 1:]

    # # Add the ratio as a new row in the DataFrame
    fcf_net_income_ratio = pd.DataFrame(fcf_net_income_ratio).T
    fcf_net_income_ratio.insert(0, 'Year', 'FCF/Net Income Ratio')

    finaldf = pd.concat([newdf, fcf_net_income_ratio], axis= 0)
    finaldf.reset_index(drop= True, inplace=True)
    return finaldf


get_FCFtoNI_ratio(ticker)

,Year,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014
0,Free Cash Flow,99584,111443,92953,73365,58896,64121,51774,53497,69778,49900
1,Net Income,96995,99803,94680,57411,55256,59531,48351,45687,53394,39510
2,FCF/Net Income Ratio,1.026692,1.11663,0.98176,1.277891,1.065875,1.077103,1.070795,1.170946,1.306851,1.262971

In [80]:
def get_financial_forecast(ticker):
    url = f'https://stockanalysis.com/stocks/{ticker}/forecast/'
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html')

    forecast_table = soup.find('table', class_ = 'w-full whitespace-nowrap border border-gray-200 text-right text-sm sm:text-base dark:border-dark-700')
    forecast_table

    headers = np.array([])
    for header in forecast_table.find_all('th'):
        headers = np.append(headers, header.text.strip())

    body = forecast_table.find('tbody')

    table_data = []
    for row in body.find_all('tr'):
        row_data = []
        for cell in row.find_all('td'):
            row_data.append(cell.text.strip())

        table_data.append(row_data)

    forecast_table = pd.DataFrame(table_data, columns=headers)
    return forecast_table

get_financial_forecast(ticker)

,Year,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
0,Revenue,260.17B,274.52B,365.82B,394.33B,383.29B,404.51B,427.47B,457.54B,513.00B,552.44B
1,Revenue Growth,-2.04%,5.51%,33.26%,7.79%,-2.80%,5.54%,5.68%,7.04%,12.12%,7.69%
2,EPS,2.97,3.28,5.61,6.11,6.13,6.69,7.30,7.99,8.96,10.04
3,EPS Growth,-0.34%,10.44%,71.04%,8.91%,0.33%,9.16%,9.02%,9.56%,12.04%,12.13%
4,No. Analysts,-,-,-,-,-,42,36,13,4,4